a.certificate-container {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #1d1d1d;
  text-decoration: none;
}

a.certificate-container img {
  width: 40px;
}

a.certificate-container .certificate-right {
  margin-left: 20px;
}