.user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #43b0ff;
  border-radius: 50%;
  overflow: hidden;
  height: 125px;
  width: 125px;
}

.user-image-container img {
  transform: scale(1.3);
}
