.last-projects-container .last-projects__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #4b4b4b;
}

.last-projects-container .last-projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  padding-right: 85px;
}
.last-projects-container .last-projects__content > *:not(:first-child) {
  margin-top: 17px;
}
