.certificates-container .certificates__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #4b4b4b;
}

.certificates-container .certificates__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  padding-right: 85px;
}
.certificates-container .certificates__content > *:not(:first-child) {
  margin-top: 17px;
}

@media screen and (max-width: 500px) {
  .certificates-container .certificates__content {
    padding-right: 0;
  }
}
